
</div>
<div class="footer container-fluid">
  <div class="icons-list">
    <a href="https://twitter.com/home?lang=en"><i class="icons fa-brands fa-twitter fa-2x"></i></a>
    <a href="https://www.instagram.com/"><i class="icons fa-brands fa-instagram fa-2x"></i></a>
    <a href="https://www.facebook.com/"><i class="icons fa-brands fa-facebook fa-2x"></i></a>
  </div>
  <hr>
  <ul class="footer-list">
    <li> <a class="list-item" href="/">Home</a></li>
    <li> <a class="list-item" href="/about">About Us</a></li>
    <li> <a class="list-item" href="/contact">Contact Us</a></li>
  </ul>
  <p class="footer-content">© 2023 Code Logyx, Inc</p>
</div>
</body>
</html>
